input:invalid {
}

input:not(:focus):placeholder-shown:invalid {
  border: 1px solid #333;
}
input:not(:focus):invalid {
  border: 3px solid #900;
  background-color: #dff;
}

input:not(:focus):valid {
  border: 1px solid #333;
}

input {
  appearance: none;

  border: 1px solid #333;
  margin: 0;

  font-family: inherit;
  font-size: 0.9rem;
  padding: 0.2rem;

  box-sizing: border-box;
}

label {
  display: flex;
  flex-direction: column;
}

input:focus:invalid {
  outline: none;
}

.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
}

.error.active {
  padding: 0.3em;
}
